<template>
  <v-app id="inspire">
    <transition name="fade" mode="out-in">
      <v-card :color="cardColor" class="rounded-b-xl card-transition">
        <v-layout wrap row>
          <v-flex xs8 class="mt-10 mb-8 mx-auto text-center">
            <v-btn disabled :ripple="false" icon class="mr-8">
              <v-img max-height="64px" max-width="64px" src="/media/icons/youtube.png"></v-img>
            </v-btn>
            <v-btn disabled :ripple="false" icon>
              <v-img max-height="64px" max-width="64px" src="/media/icons/vk.png"></v-img>
            </v-btn>
            <v-btn disabled :ripple="false" icon class="ml-8">
              <v-img max-height="64px" max-width="64px" src="/media/icons/instagram.png"></v-img>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </transition>

    <transition name="fade" mode="out-in">
      <v-flex v-if="commentsCount" xs8 class="mt-4 results-card-flex mx-auto">
        <v-card :class="{'normal-results-card': commentsMood, 'bad-results-card': !commentsMood}">
          <v-card-title class="text-h4">Результаты поиска</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="text-result">
            <span>Количество комментариев: {{commentsCount}}</span>
            <br/>
            <br/>
            <span>Количество комментариев, имеющие смысловую нагрузку, содержащие текст: {{commentsCountWithoutPhotoVideo}}</span>
            <br/>
            <span>Количество позитивных комментариев: {{normalCommCount}}</span>
            <br/>
            <span>Количество негативных комментариев: {{badCommCount}}</span>
          </v-card-text>
        </v-card>
      </v-flex>
    </transition>

    <transition name="fade" mode="out-in">
      <v-flex v-if="commentsCount" xs8 class="mt-4 results-card-flex mx-auto">
        <v-card>
          <v-card-title>
            Негативные комментарии
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchBad"
              append-icon="mdi-magnify"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="badHeaders"
            :items="badCommentsList"
            :search="searchBad"
            :footer-props="{
              itemsPerPageText: 'Количество комментариев',
              pageText: '{0}-{1} из {2}',
              itemsPerPageOptions: [1, 3, 10, 20, 50, 100]
            }"
          ></v-data-table>
        </v-card>
      </v-flex>
    </transition>

    <transition name="fade" mode="out-in">
      <v-flex v-if="commentsCount" xs8 class="mt-4 results-card-flex mx-auto">
        <v-card>
          <v-card-title>
            Нормальные комментарии
            <v-spacer></v-spacer>
            <v-text-field
              v-model="searchNormal"
              append-icon="mdi-magnify"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="normalHeaders"
            :items="normalCommentsList"
            :search="searchBad"
            :footer-props="{
              itemsPerPageText: 'Количество комментариев',
              pageText: '{0}-{1} из {2}',
              itemsPerPageOptions: [1, 3, 10, 20, 50, 100]
            }"
          ></v-data-table>
        </v-card>
      </v-flex>
    </transition>
  </v-app>
</template>

<script>

  const colors = {
    youtube: '#f00',
    vk: '#4169e1',
    null: '#b1b1b1'
  }

  export default {
    name: 'Details',
    data() {
      return {
        cardColor: '#b1b1b1',
        currentService: null,
        link: null,
        slider: 5,
        commentsCount: null,
        commentsCountWithoutPhotoVideo: null,
        badCommCount: null,
        normalCommCount: null,
        commentsMood: null,
        userEmail: null,
        normalCommentsList: [],
        badCommentsList: [],
        sent: false,
        searchBad: '',
        badHeaders: [
          {text: 'Комментарий', value: 'text'},
          {text: 'Перейти', value: 'actions', sortable: false},
        ],
        searchNormal: '',
        normalHeaders: [
          {text: 'Комментарий', value: 'text'},
        ],
      }
    },
    watch: {},
    methods: {},
    mounted() {
      this.$axios.get(process.env.ADRESS_API + '/order/' + this.$route.params.slug).then(response => {
        this.commentsCount = response.data['all_count']
        this.badCommCount = response.data['bad_comm_count']
        this.normalCommCount = response.data['normal_comm_count']
        this.commentsMood = response.data['comments_mood']
        this.commentsCountWithoutPhotoVideo = response.data['all_count_without_photo_video']
        this.normalCommentsList = response.data['normal_comments']
        this.badCommentsList = response.data['bad_comments']
      })
    },
    computed: {}
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card-transition {
    transition: background-color 0.8s ease, border 0.8s ease;
    border-radius: 0px;
    padding-bottom: 20px;
  }

  .results-card-flex {
    min-width: 80%;
  }
</style>
