<template>
  <v-app id="inspire">
    <transition name="fade" mode="out-in">
      <v-card :color="cardColor" class="rounded-b-xl card-transition">
        <v-layout wrap row>
          <v-flex xs8 class="mt-10 mb-8 mx-auto text-center">
            <v-btn disabled :ripple="false" icon class="mr-8">
              <v-img max-height="64px" max-width="64px" src="/media/icons/youtube.png"></v-img>
            </v-btn>
            <v-btn disabled :ripple="false" icon>
              <v-img max-height="64px" max-width="64px" src="/media/icons/vk.png"></v-img>
            </v-btn>
            <v-btn disabled :ripple="false" icon class="ml-8">
              <v-img max-height="64px" max-width="64px" src="/media/icons/instagram.png"></v-img>
            </v-btn>
          </v-flex>
        </v-layout>

        <div>
          <v-layout wrap row class="layout-margin">

            <v-flex xs8 class="mx-auto">

              <v-flex xs9 class="mx-auto">
                <v-card outlined elevation="4" class="rounded-xl">
                  <v-text-field
                    solo
                    label="Введите ссылку"
                    clearables
                    shaped
                    class="rounded-t-1 card-border mb-0"
                    v-model="link"
                    @keydown.enter="openBuyDialog"
                    @input="updateService"
                  ></v-text-field>
                  <v-layout>
                    <v-flex xs11 class="mx-auto">
                      <p class="mb-0">Количство постов:</p>
                      <v-slider
                        dense
                        v-model="slider"
                        class="align-center"
                        :color="cardColor"
                        track-color="grey"
                        max="1000"
                        min="1"
                        hide-details
                      >
                        <template v-slot:append>
                          <v-text-field
                            v-model="slider"
                            class="mt-0 pt-0 mb-8"
                            hide-details
                            single-line
                            type="number"
                            style="width: 60px"
                          ></v-text-field>
                          <v-btn
                            class="ma-2 pb-4 no-back"
                            :color="cardColor"
                            @click="openBuyDialog"
                            icon
                            :ripple="false"
                            :onfocus="false"
                            :disabled="!currentService"
                          >
                            <v-icon size="36">mdi-send</v-icon>
                          </v-btn>
                        </template>
                      </v-slider>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>


            </v-flex>
          </v-layout>
        </div>
      </v-card>
    </transition>
    <transition name="fade" mode="out-in">
      <v-flex xs2 class="mt-3 mx-2 alert-above-windows card-transition">
        <v-alert
          elevation="1"
          shaped
          type="success"
          :value="showSentAlert"
        >Сообщение отправлено
        </v-alert>
      </v-flex>
    </transition>
    <v-flex xs6 class="mt-4 about-card-flex mx-auto">
      <v-card>
        <v-card-text>
          <p>Разместив пост в социальной сети, многие из нас время от времени возвращаются к нему, чтобы оценить
            обратную
            связь от своих подписчиков и друзей: сколько лайков они поставили и какие комментарии оставили. </p>

          Дело это
          приятное и не хлопотное. Но совсем иначе складывается ситуация, когда у тебя несколько десятков, сотен тысяч,
          или даже миллионов подписчиков – ознакомиться со всеми комментариями и оценить их эмоциональный настрой не
          представляется возможным.
        </v-card-text>
      </v-card>
    </v-flex>
    <div class="text-center mt-5">
      <v-progress-circular
        v-if="sent"
        indeterminate
        :color="cardColor"
      ></v-progress-circular>
    </div>

    <v-dialog
      v-model="buyDialog"
      persistent
      max-width="700"
    >
      <v-card>
        <v-form v-model="validFormEmail">
          <v-card-title class="buy-text-header">
            Для того чтобы получить эмоциональную оценку необходимо произвести оплату
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text class="mt-3 ml-n1">Вам на почту придет сообщение с ссылкой</v-card-text>
          <v-text-field
            solo
            label="Введите почту"
            clearables
            required
            class="mx-3 rounded-lg required-field"
            :rules="emailRules"
            v-model="userEmail"
            @keydown.enter="sendData"
          ></v-text-field>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :color="cardColor"
              outlined
              @click="buyDialog = false"
            >
              Отмена
            </v-btn>
            <v-btn
              :color="cardColor"
              outlined
              @click="sendData"
              :disabled="!validFormEmail"
            >
              Оплатить
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

  </v-app>
</template>

<script>

  const colors = {
    youtube: '#f00',
    vk: '#4169e1',
    instagram: '#ff8952',
    null: '#b1b1b1'
  }

  export default {
    name: 'HelloWorld',
    data() {
      return {
        cardColor: '#b1b1b1',
        currentService: null,
        link: null,
        slider: 5,
        userEmail: null,
        sent: false,
        showSentAlert: false,
        buyDialog: false,
        validFormEmail: false,
        emailRules: [
          v => !!v || 'Это обязательное поле *',
          v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Введите корректную почту'
        ],
      }
    },
    watch: {
      currentService: function (val) {
        this.cardColor = colors[val]
      },
      showSentAlert(new_val) {
        if (new_val) {
          setTimeout(() => {
            this.showSentAlert = false
          }, 5000)
        }
      }
    },
    methods: {
      openBuyDialog() {
        this.buyDialog = true
      },
      sendData() {
        this.buyDialog = false
        this.sent = true

        this.$axios.post(process.env.ADRESS_API + '/send', {
          link: this.link,
          service: this.currentService,
          request_count: this.slider,
          user_email: this.userEmail,
        }).then(response => {
          this.sent = false
          this.showSentAlert = true
        }).catch(response => {
          this.sent = false
        })
      },

      updateService() {
        let current_link = this.link.split('/')
        let service = null

        switch (current_link[2]) {
          case 'vk.com':
          case 'm.vk.com':
            service = 'vk'
            break
          case 'youtube.com':
          case 'www.youtube.com':
            service = 'youtube'
            break
          case 'www.instagram.com':
          case 'instagram.com':
            service = 'instagram'
            break
          default:
            service = null
        }
        this.currentService = service
      },

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .alert-above-windows {
    position: fixed;
    right: -2px;
  }

  .card-transition {
    transition: background-color 0.8s ease, border 0.8s ease;
    border-radius: 0px;
  }

  .buy-text-header{
    font-size: 19px;
    word-break: break-word;
  }

  .card-border {
    border-color: black;
  }

  .layout-margin {
    margin-bottom: 20px;
  }

  .v-btn::before {
    background-color: transparent;
  }

  .about-card-flex {
    min-width: 60%;
  }

   .required-field{
    color: red;
  }
</style>
